<div class="my-6 mx-4 bg-purple-100 rounded-lg p-4" *ngIf="repos && repos.length; else loadingBlock">
    <h2 class="text-lg font-bold text-purple-900 mb-2">Repo List</h2>
    <ul class="flex flex-col gap-1">
        <li *ngFor="let repo of repos;" class="rounded-md px-3 py-2 border-purple-400 bg-white shadow-sm">
            <a [href]="repo?.html_url" target="blank" class="text-lg font-semibold text-purple-700 space-x-1 border-slate-700">{{repo?.name}}</a>
            <p class="text-base font-light">Description: {{repo?.description}}</p>
            <p class="text-sm font-extralight text-slate-700">Language: {{repo?.language}}</p>
        </li>
    </ul>
</div>
<ng-template #loadingBlock>
    <app-loadingbar [isLoading]="isLoading"></app-loadingbar>
</ng-template>