<nav class="flex justify-between bg-purple-200 px-16 py-1 text-slate-800">
  <h2 class="text-lg font-semibold">
    <a [routerLink]="['/']">
      {{ title }}
    </a>
  </h2>
  <ul class="flex justify-between gap-10">
    <li>
      <a
        routerLinkActive="active-link"
        *ngIf="!user?.email"
        [routerLink]="['/sigin']"
        >SignIn</a
      >
    </li>
    <li>
      <a
        routerLinkActive="active-link"
        *ngIf="!user?.email"
        [routerLink]="['/sigup']"
        >SignUp</a
      >
    </li>
    <li (click)="signOutHandler()">
      <a *ngIf="user?.email">SignUp</a>
    </li>
  </ul>
</nav>
