<nav class="flex justify-between bg-purple-200 px-16 py-1 text-slate-800">
  <h2 class="text-lg font-semibold">
    <a [routerLink]="['/']">
      {{ brandName }}
    </a>
  </h2>
  <ul class="flex justify-between gap-10">
    <li>
      <a
        *ngIf="!uid"
        [routerLink]="['/signin']"
        routerLinkActive="active-link"
        >SignIn</a
      >
    </li>
    <li>
      <a
        routerLinkActive="active-link"
        *ngIf="!uid"
        [routerLink]="['/signup']"
        >SignUp</a
      >
    </li>
    <li>
      <h6 *ngIf="email">{{email}}</h6>
    </li>
    <li>
      <a
        routerLinkActive="active-link"
        *ngIf="uid"
        [routerLink]="['/boookmarked']"
        >Boookmarked</a
      >
    </li>
    <li (click)="signOutHandler()" class="cursor-pointer hover:text-purple-500">
      <a *ngIf="uid">SignOut</a>
    </li>
  </ul>
</nav>
