<div class="grid place-content-center">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <input
        type="text"
        name="userName"
        id="userName"
        class="form-control"
        ngModel
        placeholder="user name"
        required
      />
      <button
      [disabled]="!f.valid"
       class="btn-primary">Search</button>
       <button (click)="onReset(f)" type="reset" class="btn-reset" [ngClass]="{'bg-red-500':f.dirty}">Reset</button>
    </div>
  </form>
  
</div>